<p>Welcome to chat</p>
<p><b>Your name:</b><br>
    <input type="text"  id="name" size="12">
    <div id="log"></div>
    <input type="text" id="input" autofocus><input type="submit" id="send" value="Send">
</p>