<div id="horisontal-el-dashboard">
    <p><b>New dashboard:</b><br>
        <input type="text" id="dashName" autofocus><button id="addDashboard">Add</button>
    </p>
    <p>
        <button id="removeDash">remove current dashboard</button>
    </p><br>

    <div id="tabs" ng-controller="dashboardsCtrl" ng-tabs="ngTabs">
        <ul>
            <li ng-repeat="dash in dashboards">
                <a href="#{{dash.id}}">{{dash.name}}</a>
            </li>
        </ul>
            <div id="{{dash.id}}" ng-repeat="dash in dashboards">
                <input type="text" id="widgetName" autofocus><input type="submit" id="addWidget" value="Add sticker">
                <p>{{dash.name}}</p>
                <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                <div id="draggable" class="ui-widget-content">
                    <p>Draggable widget1</p>
                </div>
            </div>
    </div>
</div>
