<div id="horisontal-el-dashboard">
    <p><b>New dashboard:</b><br>
        <input type="text" id="dashName" autofocus><button id="addDashboard">Add</button>
    </p>
    <p>
        <button id="removeDash">remove current dashboard</button>
    </p><br>

    <div id="add-new-text" class="add-widget-dialog" title="Add text">
        <textarea class="markItUp" id="new-text-widget"></textarea>
    </div>
    <div id="add-new-link" class="add-widget-dialog" title="Add link">
        <textarea class="markItUp" id="new-link-name-widget" placeholder="Add linked-text here"></textarea>
        <textarea id="new-link-address-widget" placeholder="Add link here" cols="70"></textarea>
    </div>
    <div id="add-new-img" class="add-widget-dialog" title="Add image">
        <input type="file" name="image" />
    </div>
    <div id="tabs" class="ui-tabs-abs" ng-controller="dashboardsCtrl" ng-tabs="ngTabs">
        <ul>
            <li ng-repeat="dash in dashboards">
                <a href="#{{dash.id}}">{{dash.name}}</a>
            </li>
        </ul>
            <div id="{{dash.id}}" ng-repeat="dash in dashboards">
                <input type="text" id="widgetName" autofocus>
                <div class="new-widget-buttons">
                    <input type="submit" class="addTextWidget" value="Add text">
                    <input type="submit" class="addLinkWidget" value="Add link">
                    <input type="submit" class="addImgWidget" value="Add image">
                    <a>{{dash.id}}</a>
                </div>
                <div id='{{widget.id}}' class="draggable" ng-repeat="widget in dash.widgets">
                    <img src="images/delete-widget.png" class="close-widget-button" onclick="closeWidget(this.parentNode.id)"/>
                    <p>Id: {{widget.id}}</p>
                    <p>Value: {{widget.value}}</p>
                </div>
            </div>
    </div>
</div>
