body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.draggable {/*
  max-width: 220px;
  max-height: 300px;*/
  padding: 0.5em;
  border: solid #ff8f2b;
  background: #A0A000;
  overflow: hidden;
  float:left;
}
a {
  color: #00B7FF;
}
#horisontal-el-dashboard {
  float:left;
  width: 70%;
  height: 800px;
  margin-left:15px;
  text-align:center;
  position: absolute;
}
.ui-tabs {
  height: inherit;
  width: 95%;
  padding: .2em;
  position: fixed;
}
#horisontal-el-chat {
  float:right;
  width: 20%;
  margin-left:15px;
  text-align:center;
  padding: 5px;
  border: solid #0000FF;
}
#log {
  text-align: left;
  overflow: auto;
  height: 290px;
  border: 1px solid rgb(192, 192, 192);
  padding: 5px;
  margin-bottom: 5px;
  font: 11pt 'Palatino Linotype';
}
#input {
   width: 70%;
 }
#name {
  width: 70%;
  color: #930;
}

.username {
  color: red;
}

#send {
  width: 25%;
  background: blueviolet;
}

.close-widget-button {
  float: right;
  cursor:pointer;
}